# Compiled
target/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Maven wrapper (opcional manter)
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# OS
.DS_Store
Thumbs.db